*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Poppins;
}

body, .container{
  content: '';
  display: table;
  clear: both;
}

.first, .second, .third{
  padding: 100px 0;
}

.container{
  width: 80%;
  margin: auto;
  text-align: center;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}


/* HEADER */

header{
  background-color: #255EE9;
  color: white;
  padding-top: 20px;
  padding-bottom: 60px;
}

.sezhead{
  float: left;
}

.menu{
  width: calc(100% - 50%);
}

.logo, .iscriviti{
  width: calc(100% - 75%);
}

.sezhead img{
  vertical-align: middle;
}

.sezhead ol{
  word-spacing: 41px;
}
.sezhead li{
  list-style: none;
  display: inline-block;
}

.sezhead li a{
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.sezhead:first-child{
  text-align: left;
}

.sezhead:last-child{
  text-align: right;
}

.smallb{
  border: none;
  border-radius: 25px;
  color: black;
  background: white;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 500;
}


/* JUMBOTRON */

.head{
  background-image: url(img/jumbo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container h1{
  font-size: 53px;
}

.jumbo{
  vertical-align: middle;
  width: 50%;
  line-height: 1.8;
  color: white;
  margin: auto;
}

.bigb{
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 22px 3px 3px 10px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 28px;
  font-size: 20px;
  padding: 10px 35px;
}

.bianco{
  background-color: white;
  color: #23272A;
}

.nero{
  background-color: #23272A;
  color: white;
}


/* PRIMA SEZIONE */

.head{
  padding-top: 100px;
  padding-bottom: 60px;
  content: '';
  display: table;
  clear: both;
}

.immagine img{
  width: 100%;
}
.immagine, .testo{
  float: left;
}

.immagine {
  width: 70%;
}

.testo{
  width: 30%;
  text-align: left;
}
.testo p, .container p{
  line-height: 1.3;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container h3{
  font-size: 48px;
  line-height: 1.3;
}

.first{
  margin-top: 60px;
}

/* SECONDA SEZIONE */

.second{
  background-color:#F6F6F6;
}

/* TERZA SEZIONE */



/* QUARTA SEZIONE */


/* QUINTA SEZIONE */

.viola{
  background-color: #7983F5;
  color: white;
}

.fifth h4{
  font-size: 30px;
}

.stelle{
  background-image: url(img/stars.svg);
  background-size: cover;
  background-position: top;
}

.fifth img{
  margin: -36px;
}

/* FOOTER */

/* sezione colonne */

footer{
  background-color: #23272A;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 75px;
  color: white;  
}

footer img{
  width: 15px;
}
.social, .colonna{
  float: left;
  text-align: left;
}

.social{
  width: 25%;
  padding-right: 10px;
}

.colonna{
  width: calc(70%/4);
}

footer ol{
  list-style-type: none;

}

footer a{
  color: white;
  text-decoration: none;
}

.titolo{
  color: #5865F2;
}


/* ultima sezione */

.ultimologo{
  float: left;
  width: 50%;
  text-align: left;
}

.ultimologo img{
  width: 20%;
}

.ultimobottone{
  float: right;
  width: 50%;
  text-align: right;
}

hr{
  border: 1px solid #5865F2;
}

.social i{
  font-size: 15px;
  letter-spacing: 7px;
}